<div class="sidebar  boxed  push-down-30">
    <div class="row">
        <div class="col-xs-10  col-xs-offset-1">

            <div class="widget-categories  push-down-30">
                <h6>Kategoriler</h6>
                <ul>
                    
                            <li>
                                <a href="/Kategori/1">Yazılım &nbsp; <span class="widget-categories__text">(3)</span> </a>
                            </li>
                        
                            <li>
                                <a href="/Kategori/2">Genel Konular &nbsp; <span class="widget-categories__text">(1)</span> </a>
                            </li>
                        
                            <li>
                                <a href="/Kategori/3">Motosikletler &nbsp; <span class="widget-categories__text">(2)</span> </a>
                            </li>
                        
                            <li>
                                <a href="/Kategori/4">Teknoloji &nbsp; <span class="widget-categories__text">(1)</span> </a>
                            </li>
                        

                </ul>

            </div>

            <div class="widget-featured-post  push-down-15">
                
                        <h6>Son Yazılan</h6>
                        <img class="wp-post-image" src="/images/SqlServer.png">
                        
                        <h5>
                            <a href="/Makale/MsSql-ile-Pivot-Table-Kullanmak/10">MsSql ile Pivot Table Kullanmak</a>
                        </h5>
                        <p></p><p>Özelikle raporlama işlemleri için sıklıkla Excel de kullandığımız PivotTable(Özet Tabloları) Mssqlde sorgu optimizasyonu ile yapabilmek anlık rapor</p>
                        </div>
                    




                <div class="widget-posts push-down-15">
                    <h5>Son Yazılanlar / Popüler Yazılar</h5>

                    <ul class="nav  nav-tabs">
                        <li class="active">
                            <a href="#recent-posts" data-toggle="tab"><span class="glyphicon  glyphicon-time"></span>&nbsp;Son Yazılan </a>
                        </li>
                        <li><a href="#popular-posts" data-toggle="tab"><span class="glyphicon  glyphicon-flash"></span>&nbsp;Popüler </a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane  fade  in  active" id="recent-posts">
                            
                                    <div class="push-down-15">
                                        <img class="wp-post-image_kucuk" src="/images/SqlServer.png">
                                        <h5>
                                            <a href="/Makale/MsSql-ile-Pivot-Table-Kullanmak/10">MsSql ile Pivot Table Kullanmak</a>
                                        </h5>
                                        <span class="widget-posts__time">bir yıl önce</span>
                                    </div>

                                
                                    <div class="push-down-15">
                                        <img class="wp-post-image_kucuk" src="/images/programlama-dili-öğrenmek.jpg">
                                        <h5>
                                            <a href="/Makale/AspNet-Core-Ile-Serilog/9">Asp.Net Core İle Serilog</a>
                                        </h5>
                                        <span class="widget-posts__time">bir yıl önce</span>
                                    </div>

                                
                                    <div class="push-down-15">
                                        <img class="wp-post-image_kucuk" src="/images/programlama-dili-öğrenmek.jpg">
                                        <h5>
                                            <a href="/Makale/ASPNET-Repeater-Tarih-Stil-Duzenlemek/5">ASP.NET Repeater Tarih Stil Düzenlemek</a>
                                        </h5>
                                        <span class="widget-posts__time">9/5/2019 10:17:10 PM</span>
                                    </div>

                                

                        </div>
                        <div class="tab-pane  fade" id="popular-posts">
                            
                                    <div class="push-down-15">
                                        <img class="wp-post-image_kucuk" src="/images/xmax-250.jpg">
                                        <h5>
                                            <a href="/Makale/Yamaha-X-Max250-Ile-5000-Km/3">Yamaha X-Max250 İle 5.000 Km</a>
                                        </h5>
                                        <span class="widget-posts__time">10/16/2018 2:45:14 PM </span>
                                        <p></p>

                                    </div>
                                
                                    <div class="push-down-15">
                                        <img class="wp-post-image_kucuk" src="/images/BMW-K1600-GT.jpg">
                                        <h5>
                                            <a href="/Makale/BMW-K-1600-GT-Test-Surusu/1">BMW K 1600 GT Test Sürüşü</a>
                                        </h5>
                                        <span class="widget-posts__time">7/7/2018 9:02:31 PM </span>
                                        <p></p>

                                    </div>
                                
                                    <div class="push-down-15">
                                        <img class="wp-post-image_kucuk" src="/images/programlama-dili-öğrenmek.jpg">
                                        <h5>
                                            <a href="/Makale/Programlama-Dili-Nasil-Ogrenilir-Yazilim-Ogrenmek-Istiyorum/2">Programlama Dili Nasıl Öğrenilir? Yazılım Öğrenmek İstiyorum</a>
                                        </h5>
                                        <span class="widget-posts__time">7/16/2018 4:54:13 PM </span>
                                        <p></p>

                                    </div>
                                
                        </div>
                    </div>
                </div>



                <div class="widget-recent-comments  push-down-30">

                    <h6>Son Yorumlar</h6>
                    <ul>
                        
                                <li>Çetin Aksu Dedi ki,
                                    <br>
                                    <a href="/Makale/ASPNET-Repeater-Tarih-Stil-Duzenlemek/5">Gayet güzel ve faydalı bir açıklama olmuş.</a>
                            
                                </li><li>Bayramow Dedi ki,
                                    <br>
                                    <a href="/Makale/Programlama-Dili-Nasil-Ogrenilir-Yazilim-Ogrenmek-Istiyorum/2">visual studio program nasil yazibilerim
</a>
                            
                                </li><li>Orhan Alver Dedi ki,
                                    <br>
                                    <a href="/Makale/Programlama-Dili-Nasil-Ogrenilir-Yazilim-Ogrenmek-Istiyorum/2">Fatih bey selamlar..
PL/1 programlama dilini öğrenmem konusunda yardımlarınızı rica ederim</a>
                            
                    </li></ul>


                </div>

            </div>
        </div>
    </div>