<header class="header push-down-45">
    <div class="container">

        <div class="logo  pull-left">
            <a routerLink="/Anasayfa/">
                <img src="/images/logo1.png" alt="Logo">
            </a>
        </div>
        <nav class="navbar  navbar-default" role="navigation">

            <div class="collapse  navbar-collapse" id="readable-navbar-collapse">
                <ul class="navigation">

                    <li class="dropdown aktif">
                        <a routerLink="/Anasayfa" class="dropdown-toggle" data-toggle="dropdown">Anasayfa</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategoriler</a>
                        @if(menuSubItems().length > 0) {
                        <ul class="navigation__dropdown">
                            @for (menu of menuSubItems(); track menu.id) {
                            <li><a routerLink="Kategoriler/{{menu.id}}">{{ menu.name }}</a></li>
                            }
                        </ul>
                        }
                    </li>

                    <li class="Default">
                        <a routerLink="Referanslar">Referanslar</a>
                    </li>
                    <li class="Default">
                        <a routerLink="YoutubeVideolarim">Videolarım</a>
                    </li>
                    <li class="Default">
                        <a routerLink="Hakkimda">Hakkımda</a>
                    </li>
                    <li class="Default">
                        <a routerLink="Iletisim">İletişim</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>