
    <div class="widget-author  boxed  push-down-45">
        <div class="col-xs-10  col-xs-offset-1">
            <div class="widget-author__content">
                <h2>Hakkımda</h2>
                
                <div id="home" class="page">
                  
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                
                                    <blockquote class="quote">
                                        Merhaba ben Fatih KARAKAŞ. 1978 Aksaray doğumluyum ve Ankara'da yaşıyorum. <br>
                                        Türkiye Sağlık Enstitüleri Başkanlığında (TÜSEB) yazılım ve sistem geliştirme üzerine çalışıyorum.
                                    </blockquote>
                                    <p>Evli ve iki Çocuk babasıyım. Benim kahrımı çeken ve çocuklarımın gelişiminde büyük katkısı olan Eşime çok teşekkür ediyorum.  </p>
                                    <p>Oğlum Timurhan Mustafa (2003) ve kızım Duru (2006) yılında ailemize katıldılar. Aile olarak Ankara'ya bağlı Çubuk ilçesinde yaşıyoruz.</p>
                                    <h5 class="text-info">
                                    Motosiklet videolarımı 
                                    <a routerLink="/YoutubeVideolarim" class="btn btn-success">Blog Sayfamdan</a>
                                     veya <a href="http://www.youtube.com/user/fkarakasss" title="videolar" class="zocial-youtube">Youtubeden </a> izleyebilirsiniz
                                    </h5>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <h3>Hobiler :)</h3>
                                    <ul class="list-unstyled" style="font-size:large">
                                        <li>Bilişim Sistemleri ve Teknolojilerini takip etmek</li>
                                        <li>Yazılım Geliştirmek (ASP.NET, PHP, C++ vb.)</li>
                                        <li>Keyif aldığım diğer hobi, hatta tutku ise motosiklet kullanmak.</li>
                                        <li>Hemen hemen tüm spor dallarını severim, Amatör Futbolcu ve amatör yol yarış bisikleti sporcusum. </li>
                                        

                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="clearfix">&nbsp;</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
