
<header class="header push-down-45">
    <div class="container">
        <div class="logo  pull-left">
            <a href="/Anasayfa/">
                <img src="/images/logo1.png" alt="Logo">
            </a>
        </div>
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="navbar  navbar-default" role="navigation">

            <div class="collapse  navbar-collapse" id="readable-navbar-collapse">
                <ul class="navigation">

                    <li class="dropdown aktif">
                        <a href="/Anasayfa" class="dropdown-toggle" data-toggle="dropdown">Anasayfa</a>
                    </li>
                  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategoriler</a>
                      @if(manuSubItems.length > 0) {
                          <ul class="navigation__dropdown">
                            @for (menu of manuSubItems; track menu.id) {
                              <li><a [routerLink]>{{ menu.name }}</a></li>
                            }
                            </ul>
                        }
                    </li>

                    <li class="Default">
                        <a [routerLink]="'/Referanslar'" class="dropdown-toggle" data-toggle="dropdown">Referanslar</a>
                    </li>
                    <li class="Default">
                        <a href="/Youtube" class="dropdown-toggle" data-toggle="dropdown">Videolarım</a>
                    </li>
                    <li class="Default">
                        <a href="/Hakkimda" class="dropdown-toggle" data-toggle="dropdown">Hakkımda</a>
                    </li>
                    <li class="Default">
                        <a href="/Iletisim" class="dropdown-toggle" data-toggle="dropdown">İletişim</a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
</header>

<main class="container">
    <div class="row">
      
      <!-- Sol Taraf: Sayfaya Göre Değişen İçerik -->
      <div class="col-xs-12 col-md-8">
        <router-outlet>
            <app-post-listesi-ana-sayfa></app-post-listesi-ana-sayfa>
        </router-outlet>
      </div>
  
      <!-- Sağ Taraf: Sabit Sidebar -->
      <div class="col-xs-12 col-md-4">
        <app-solmenutumu></app-solmenutumu>
      </div>
  
    </div>
  </main>
  

<!-- Footer Alanı -->
<footer class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-6">
                <a href="http://fatihkarakas.com.tr">Fatih KARAKAŞ</a> © Copyright 2018.
            </div>
            <div class="col-xs-12  col-sm-6">
                <div class="copyrights--right">

                    <a href="http://fatihkarakas.com.tr">Kişisel Blog Sayfası</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Web Forms Master Page'den gelen JavaScript dosyaları -->
<script src="assets/scripts/main.js"></script>
<script src="assets/scripts/theme.js"></script>