<app-header></app-header>
<main class="container">
    <div class="row">
      
        <div class="col-xs-12 col-md-8"> <router-outlet></router-outlet>  </div>   
      <!-- Sağ Taraf: Sabit Sidebar -->
      <div class="col-xs-12 col-md-4">
        <app-solmenutumu></app-solmenutumu>
      </div>
  
    </div>
  </main>
<!-- Footer Alanı -->
<footer class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-6">
                <a href="http://fatihkarakas.com.tr">Fatih KARAKAŞ</a> © Copyright 2018.
            </div>
            <div class="col-xs-12  col-sm-6">
                <div class="copyrights--right">

                    <a href="http://fatihkarakas.com.tr">Kişisel Blog Sayfası</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Web Forms Master Page'den gelen JavaScript dosyaları -->
<script src="assets/scripts/main.js"></script>
<script src="assets/scripts/theme.js"></script>